.main {
    margin: 0 auto 80px;
    width: 984px;
}

@media all and (max-width: 767px) {
    .main {
        width: auto;
        margin: 0 8px 40px;
    }
}

.text {
    margin: 90px 0;
    font-family: 'Fira Code', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: var(--black);

    word-break: break-all;
    text-align: center;
}

.text a {
    color: #28409A;
}
